.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: left;

}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
}

.title {

    float: right;
    width: 73%;
    font-size: 12rem;
    color: #ffffff;

}

.description {
    line-height: 1.5;
    float: left;
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    border-bottom: 2px solid #ba48ea;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    float: right;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 2000px;
    margin-top: 1rem;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 2px solid #eaeaea;
    border-radius: 25px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 425px
}

    .card:hover,
    .card:focus,
    .card:active {
        color: #ba48ea;
        border-color: #ba48ea;
    }

    .card h3 {
        margin: 0 0 1rem 0;
        font-size: 1.5rem;
        color: #ffffff;

    }

    .card p {
        margin: 0;
        font-size: 1.25rem;
        line-height: 1.5;
        color: #b3b3b3;
    }

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}