/* 
    COLOR PALETTE
    text: #FBFAFA
    primary-dark: #24244F
    primary-light: #858BA3
    secondary-light: #827F9D
    secondary-dark: #2E2E64;
*/

.main {
    background-color: #24244F;
    color: #FBFAFA;
    height: 100vh;
}

.body {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -7em;
    margin-left: -12.5em;
}

.input_field {
    background-color: #24244F;
    border: 1px solid #858BA3;
    border-radius: 5px;
    height: 2.5em;
    color: #FBFAFA;
    padding-left: .5em;
}

.login_form {
    height: 14em;
    width: 25em;
    border: 2px solid #858BA3;
    border-radius: 10px;
    background-color: #2e2e64;
}

.login_form label {
    padding: 0px 10px;
}

.login_entry {
    padding: 15px 10px 5px 10px;
}

.login_form_label {
    padding: 0px 10px;
    font-weight: bold;
}

.login_button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #827F9D;
    color: #FBFAFA;
    padding: .25em .5em;
    font-size: 1.2em;
    margin-right: 1em;
    margin-left: 1em;
}

.table_form {
    width: 100%;
}

.table_form .table_label {
    text-align: right;
    padding: 10px 0px 10px 0px;
}

.table_form .table_entry {
    width: 100%;
}

.table_form input {
    width: 100%;
}

.button_format {
    width: 100%;
    text-align: center;
    padding-top: 2em;
}